* {

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
}

.scroll {
    width: 400px;
    height: 200px;
    overflow-y: scroll;
    background-color: rgb(5, 241, 254);
}

.checks {
    width: 400px;
}

.send_data {
    width: 400px;
}

.table_data {
    width: 400px;
}